
menu "Platform"

choice
	prompt "SO3 OS type"

config STANDALONE
        bool "Standalone OS"
        
endchoice



choice
  prompt "Target"
       	depends on STANDALONE
	config VEXPRESS
    	bool "Vexpress"
   
endchoice

source "arch/arm/vexpress/Kconfig"
source "arch/arm/devices/Kconfig"

source "mm/Kconfig"

endmenu
